html {
  font-size: 62.5%;
}
.container {
  width: 50rem;
  margin: auto;
  padding: 4rem;
  text-align: center;
}

h1 {
  font-size: 5rem;
  color: green;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: royalblue;
  cursor: pointer;
  padding: 2rem;
  transition: color 0.3s ease;
  font-size: 3rem;
  margin: 1rem;
}

a:hover {
  color: crimson;
}
